mathmatical_simulation/__pycache__
mathmatical_simulation/weights
mathmatical_simulation/dataset/*
*.asv
semi_supervison/dataset
semi_supervison/weights
__pycache__
semi_supervison/DroneZ_MPC_weights
*.mp4